<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	
	<bean id="personelBean" class="com.germiyanoglu.model.Personel">
		<property name="adi" value="ELXAN"></property>
		<property name="soyadi" value="İsmailov"></property>
		<property name="yasi" value="25"></property>
	</bean>
	
	<bean id="personelAopVazifeleriBean"
		class="com.germiyanoglu.services.PersonelAopVazifeleri">
	</bean>
	
	<!-- <bean id="methodOncesiVazifelerBeforeBean"
		class="com.germiyanoglu.services.MetotOncesiVazifelerBefore">
	</bean>
	
	<bean id="metotSonrasiVazifelerAfterReturningBean"
		class="com.germiyanoglu.services.MetotSonrasiVazifelerAfterReturning">
	</bean> -->
	
	 	
	<!-- <bean id="personelProxyFactoryBean"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="personelBean"></property>
		<property name="interceptorNames">
			<list>
			    <value>metotOncesiVazifelerBeforeBean</value>
			   <value>metotSonrasiVazifelerAfterReturningBean</value>
			   <value>metotIstisnaSonrasiVazifelerAfterThrowingBean</value> 
			   <value>metotOncesiVeSonrasiVazifelerAroundBean</value> 
				
				<value>personelAopVazifeleriBean</value>
			</list>
		</property>
	</bean>
		-->	

</beans>
